{% extends 'base.html' %}
{% load humanize %}
{% block content %}
  <div class="container p-3">
    <h1 class="text-center md-10 mb-5 font-weight-bold">경매관리</h1>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">이름</th>
        <th scope="col">상태</th>
        <th scope="col">시작가</th>
        <th scope="col">최종<br/>입찰가</th>
        <th scope="col">최종<br/>입찰자</th>
        <th scope="col">시작날짜<br>종료날짜</th>
        <th scope="col">보기</th>
        <th scope="col">수정</th>
        <th scope="col">관리</th>
      </tr>
      </thead>
      <tbody>
        {% for auction in auctions %}
          <tr>
            <td>{{ auction.id }}</td>
            <td>{{ auction.name }}</td>
            <td>{{ auction.state }}</td>
            <td>{{ auction.min_bid | intcomma }}</td>
            <td>{{ auction.winning_bid | default_if_none:'-' | intcomma }}</td>
            <td>{{ auction.winning_user.username | default_if_none:'-' }}</td>
            <td>{{ auction.start_datetime | date:'m/d H:i' }}<br/>{{ auction.end_datetime | date:'m/d H:i' }}</td>
            <td><a href="/auction/detail/{{ auction.id }}/" class="btn btn-success btn-sm">보기</a></td>
            <td><a href="/auction/modify/{{ auction.id }}/" class="btn btn-warning btn-sm">수정</a></td>
            <td>
              {% if auction.state == '준비' or auction.state == '취소' or auction.state == '낙찰' %}
                -
              {% endif %}
              {% if auction.state == '진행중' %}
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#endAuctionModal{{ auction.id }}">강제 종료</button>
                <div class="modal fade" id="endAuctionModal{{ auction.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">경매 강제 종료</h4>
                      </div>
                      <div class="modal-body">
                        {{ auction.id }}번 물품 [{{ auction.name }}]의 현재 입찰가 {{ auction.winning_bid | intcomma }}원으로 {{ auction.winning_user.username }}님이 마지막 입찰자입니다. 경매를 종료하시겠습니까?
                      </div>
                      <div class="modal-footer">
                        <a href="/admin/auction/update-state/{{ auction.id }}/3" class="btn btn-danger" data-dismiss="modal">강제 종료</a>
                        <a href="/admin/auction/update-state/{{ auction.id }}/5" class="btn btn-danger" data-dismiss="modal">경매 취소</a>
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">닫기</button>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if auction.state == '완료' %}
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#confirmAuctionModal{{ auction.id }}">낙찰 승인</button>
                <div class="modal fade" id="confirmAuctionModal{{ auction.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">경매 최종 낙찰 승인</h4>
                      </div>
                      <div class="modal-body">
                        {{ auction.id }}번 물품 [{{ auction.name }}]이 최종 입찰가 {{ auction.winning_bid | intcomma }}원으로 {{ auction.winning_user.username }}님에게 낙찰 되었습니다. 최종 낙찰 승인하시겠습니까?
                      </div>
                      <div class="modal-footer">
                        <a href="/admin/auction/update-state/{{ auction.id }}/4" class="btn btn-success" data-dismiss="modal">최종 낙찰</a>
                        <a href="/admin/auction/update-state/{{ auction.id }}/5" class="btn btn-danger" data-dismiss="modal">경매 취소</a>
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">닫기</button>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
