{% extends 'base.html' %}
{% load humanize %}
{% block content %}
  <div class="container p-3">
    <h1 class="text-center md-10 mb-5 font-weight-bold">경매참여내역</h1>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">경매번호</th>
        <th scope="col">이름</th>
        <th scope="col">입찰가</th>
        <th scope="col">상태</th>
        <th scope="col">입찰시각</th>
        <th scope="col">보기</th>
      </tr>
      </thead>
      <tbody>
        <td>1</td>
        <td>2</td>
        <td>아디다스 슈퍼스타</td>
        <td>100,000</td>
        <td>유효</td>
        <td>2020-06-14 14:22:33</td>
        <td><a href="/auction/detail/2/" class="btn btn-success btn-sm">보기</a></td>
        {% for history in auction_history %}
          <tr>
            <td>{{ history.id }}</td>
            <td>{{ history.auction.id }}</td>
            <td>{{ history.auction.name }}</td>
            <td>{{ history.bid | intcomma }}</td>
            <td>{% if history.is_valid %}유효{% else %}무효{% endif %}</td>
            <td>{{ history.created_datetime | date:'Y-m-d H:i:s' }}<br/>{{ auction.end_datetime | date:'m/d H:i' }}</td>
            <td><a href="/auction/detail/{{ history.auction.id }}/" class="btn btn-success btn-sm">보기</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}