{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container">
    <header class="jumbotron my-4" style="height: 280px;">
      <h1 class="display-3">기부와 경매를 동시에!</h1>
      <p class="lead">"SNU자선경매"는 서울대학교 재학생들을 위한 기부/경매 플랫폼입니다.</p>
      <div class="text-center">
        <a href="/join" class="btn btn-primary btn-lg" style="font-size: 20px;">회원가입</a>
        <a href="/login" class="btn btn-success btn-lg" style="font-size: 20px; margin-left: 10px;">로그인하기</a>
      </div>
    </header>
  </div>
{% endblock %}
