{% extends "base.html" %}
{% block content %}
  <style>
    input {
      width: 300px;
    }
  </style>
  <form method="post" action="/user-update/">
    {% csrf_token %}
    <h3 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
      {% if request.user.is_admin %}관리자{% else %}사용자{% endif %} 정보수정
    </h3>
    <div class="container" style="text-align: center;">
      <p>
        <label for="id_username"></label>
        <input style="padding: 4px;" type="text" placeholder="닉네임" name="username" maxlength="150" required="" value="{{ user.username }}" id="id_username">
        <br>
      </p>
      <p>
        <label for="id_email"></label>
        <input disabled style="padding: 4px;" type="email" placeholder="이메일 (***@snu.ac.kr)" name="email" value="{{ user.email }}" id="id_email">
        <span class="helptext"></span>
      </p>
      <p>
        <label for="id_password1"></label>
        <input style="margin-bottom:10px; padding: 4px;" type="password" placeholder="새 비밀번호" name="password1" autocomplete="new-password" required="" id="id_password1">
        <br>
        <span class="helptext">*소문자, 대문자, 특수문자가 모두 1개 이상 포함되어야 합니다.</span>
      </p>
      <p>
        <label for="id_password2"></label>
        <input style="margin-bottom:10px; padding: 4px;" type="password" placeholder="비밀번호 확인" name="password2" autocomplete="new-password" required="" id="id_password2">
        <br>
        <span class="helptext">*비밀번호를 다시 한 번 입력해주세요.</span>
      </p>

      <div class="text-center" style="margin-top: 30px;">
        <button class="btn btn-primary btn-lg mb-4" type="submit">변경하기</button>
      </div>
    </div>
  </form>
  <div class="text-center">
    <a href="/exit/" type="button" class="btn btn-danger btn-lg mb-4">회원탈퇴</a>
  </div>
{% endblock %}